body {
  margin: 0;
  background-color: bisque;
}

.container {
  height: 99vh;
  width: 100vw;
  display: flex;
}

.settings {
  width: 25%;
  border-right: 1px solid black;
}

.right {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/123.png);
}
.drawing {
  display: grid;
}

.pixels {
  margin: 0px;
  background-color: white;
}

.color-blue {
  background-color: black;
}
